<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
  <userSettings>
    <setting name="ReleaseURL" serializeAs="String">
      <value>https://github.com/HellSeagull/Kuretar-Display-Searcher/releases</value>
    </setting>
    <setting name="ReleaseAPI" serializeAs="String">
      <value>http://api.github.com/repos/HellSeagull/Kuretar-Display-Searcher/releases/latest</value>
    </setting>
    <setting name="UserAgent" serializeAs="String">
      <value>Mozilla/4.0 (Compatible; Windows NT 5.1; MSIE 6.0) (compatible; MSIE 6.0; Windows NT 5.1; WDBXEditor</value>
    </setting>
  </userSettings>
</configuration>
